body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#categoryForm {
  display: inline-block;
  margin-bottom: 16px;
}

#categoryList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}

canvas {
  border: 2px solid #000;
}

#arrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: calc(50% - 20px);
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000;
  z-index: 10;
}

#wheelCanvas {
  position: relative;
}
