body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#categoryForm {
  display: inline-block;
  margin-bottom: 16px;
}

#categoryList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}

canvas {
  border: 2px solid #000;
}

#arrow {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000;
  margin-bottom: -10px;
  z-index: 10;
}
